<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="page_header(page_title)">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-with,initial-scale,minimum-scale=1.0">
		<title>[[${page_title}]]</title>
		
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/fontas/all.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
		<script rel="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
		<script rel="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/script.js}" ></script>
   		
	</head>
	<body>
		<th th:fragment="column_property(field, columnTitle, removeColumn)" th:remove="${removeColumn}">
			<a class="text-white"
			th:href="@{'/users/page/' + ${currentPage} + '?sortField=' + ${field} + '&sortDir=' + ${sortField != field ? sortDir : reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
			[[${columnTitle}]]
			</a>
			<span th:if="${sortField == field}" th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"></span>
		</th>
		
		<a class="page-link" th:fragment="paging_property(page, title)"
		th:href="@{'/users/page/' + ${page} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
		[[${title}]]
		</a>
		
		<!--
		<a th:fragment="enabled_property(user_id, isEnable)"  th:class="${isEnable} == true ? fas fa-check-circle fa-2x icon-green : fas fa-check-circle fa-2x icon-dark" 
		th:href="@{'/users/' + ${user_id} + '/enabled/' + ${${isEnable} == true ? false : true}}" th:title="${isEnable} == true ? disabled this user : enabled this user"></a> -->
		
	</body>
</html>