<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{fragments :: page_header('Home-Webuy Admin')}">
	
	<body>
		<div class="container-fluid">
			<div th:replace="~{nav :: menu}"></div>
			
			<div>
				<h1>Welcome to webuy admin</h1>
			</div>
			
			<div class="text-center">
				<p>Webuy Control Panel - Copyright &copy; Webuy</p>
			</div>
			
		</div>
		
		<script type="text/javascript">
			$(document).ready(function() {
				$("#logoutLink").on("click", function(event) {
					event.preventDefault();
					document.logoutFormModal.submit();
				});
				customDropDown();
			});
		</script>
		
	<script type="text/javascript"> 
		function customDropDown(){
			$(".navbar .dropdown").hover(
				function(){
					$(this).find('.dropdown-menu').first().stop(true, true).delay(250).slideDown();
				},
				function(){
					$(this).find('.dropdown-menu').first().stop(true, true).delay(100).slideUp();
				}
				);
			$(".dropdown > a").click(function() {
				location.href = this.href;
			});
		}
		
	</script>
		
	</body>
</html>